/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5; /* Color de fondo suave y profesional */
    color: #333; /* Color de texto para buen contraste */
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    
    width: 100%;
    max-width: 1200px;
    margin: 20 auto;
    padding: 25px ;
    background: linear-gradient(90deg, rgb(3, 176, 64) 0%, rgb(5, 244, 61) 100%); /* Fondo blanco para el contenido principal */
    box-shadow: 0 0 10px rgba(244, 20, 20, 0.1); /* Sombra para elevar el contenido */
    border-radius: 8px; /* Bordes redondeados para suavizar el aspecto */
}

/* Navbar Styles */
.navBg {
    background-color: #23f353; /* Fondo azul profesional */
    background: linear-gradient(90deg, rgb(1, 161, 62) 0%, rgb(15, 247, 46) 100%);
    color: #fff; /* Color de texto blanco para contraste */
}

.navbar-brand img {
    width: 150px;
}

.navbar-nav .nav-link {
    margin-right: 15px;
    
}

.navbar-nav .nav-item .dropdown-menu a {
    color: #26ae04;
    text-decoration: none;
}

/* Item List Styles */
.main-title {
    width: 100%;
    text-align: center;
    margin: 20px;
    color: #06c933;
}

/* Item Styles */
.div_container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.card {
    margin: 20px;
    width: 18rem;
    background-color: #fff; /* Fondo blanco para las tarjetas */
    border: 1px solid #ddd; /* Borde suave para las tarjetas */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    padding: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    
}

.button-container {
    margin-top: 10px;
    
  
}

button, .btn {
    background-color: #0cb51b; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave al pasar sobre el botón */
}

/* Cambiar color al pasar el ratón sobre el botón */
button:hover, .btn:hover {
    background-color: #0ae24b; /* Color de fondo al pasar el ratón */
}

/* Cambiar color al hacer clic en el botón */
button:active, .btn:active {
    background-color: #001a3a; /* Color de fondo al hacer clic */
}

/* Botón dentro del contenedor de botones */
.button-container .btn {
    margin-top: 10px;
}

/* Item Detail Styles */
.item-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #fff; /* Fondo blanco para el detalle del item */
    padding: 20px;
    border: 1px solid #ddd; /* Borde suave */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para elevar el contenido */
    font-size: 2rem;
    
}

.item-detail img {
    width: 350px; 
    height: 300px; 
    object-fit: cover;
    margin: 20px 0;
    border: 1px solid #ddd; /* Borde suave para la imagen */
    border-radius: 8px;
}
/* item-detail */
.price {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
}


/* ItemCount.jsx Styles */
.item-count {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.item-count-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-count-buttons .btn {
    margin: 0 5px;
    background-color: #0cb51b; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave al pasar sobre el botón */
}

.item-count-buttons .btn:hover {
    background-color: #0ae24b; /* Color de fondo al pasar el ratón */
}

.item-count-buttons .btn:active {
    background-color: #001a3a; /* Color de fondo al hacer clic */
}

.item-count-display {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.item-count .btn-comprar {
    margin-top: 10px;
    background-color: #0cb51b; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave al pasar sobre el botón */
}

.item-count .btn-comprar:hover {
    background-color: #0ae24b; /* Color de fondo al pasar el ratón */
}

.item-count .btn-comprar:active {
    background-color: #001a3a; /* Color de fondo al hacer clic */
}

.item-count .btn-comprar:disabled {
    background-color: #ccc; /* Color de fondo cuando está deshabilitado */
    cursor: not-allowed;
}


/* Contact.jsx  Styles */
.formulario {
    display: flex;
    flex-direction:column ;
    gap: 30px;
    margin: 10px 0;
    padding: 10px;
    width: 50%;
}

.input-field {
    
    width: 50%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #0cb51b;
    outline: none;
    
}

/* Botón de envío en el formulario de contacto */
.enviar {
    background-color: #0cb51b; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    font-size: 14px; 
    margin-top: 5px; 
    width: 50%;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.enviar:hover {
    background-color: #0ae24b; 
}

.enviar:active {
    background-color: #001a3a; 
}
.contact-container {
   
    margin-top: 10px; /* Ajusta este valor según tus necesidades */
}

/* boton carrito */
.finalizar-compra {
    background-color: #0cb51b; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave al pasar sobre el botón */
    text-align: center; /* Centrar el texto */
    display: inline-block; /* Hacer que el enlace se comporte como un botón */
    text-decoration: none; /* Quitar subrayado */
    font-size: 16px; /* Tamaño de fuente */
    margin-top: 10px; /* Margen superior */
}

.finalizar-compra:hover {
    background-color: #0ae24b; /* Color de fondo al pasar el ratón */
}

.finalizar-compra:active {
    background-color: #001a3a; /* Color de fondo al hacer clic */
}


.cart-link {
    background-color: #0cb51b; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave al pasar sobre el botón */
    text-align: center; /* Centrar el texto */
    display: inline-block; /* Hacer que el enlace se comporte como un botón */
    text-decoration: none; /* Quitar subrayado */
    font-size: 16px; /* Tamaño de fuente */
    margin-top: 10px; /* Margen superior */
}

.cart-link:hover {
    background-color: #0ae24b; /* Color de fondo al pasar el ratón */
}

.cart-link:active {
    background-color: #001a3a; /* Color de fondo al hacer clic */
}
